html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  background-color: var(--background-color);
  min-width: 300px;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1080px) {
  body {
    font-size: 16px;
  }

  .app {
    width: 97%;
  }
}

@media only screen and (max-width: 540px) {
  body {
    font-size: 13px;
  }
}